Videos/JLCodes/NETLINE_to-Asm_Mvt_Inbound/netline_to_asm_mvt_inbound/src/main/app/netline_inbound.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:wmq="http://www.mulesoft.org/schema/mule/ee/wmq" xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
http://www.mulesoft.org/schema/mule/ee/wmq http://www.mulesoft.org/schema/mule/ee/wmq/current/mule-wmq-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <sftp:connector name="SFTP" validateConnections="true" pollingFrequency="100000" autoDelete="false" doc:name="SFTP" archiveDir="C:\Users\db2admin.bandaru-PC\Music\jetlocalbackup\backup"/>
    <wmq:connector name="WMQ" hostName="localhost" port="7777" queueManager="A" channel="ATOB" username="db2admin" password="bandaru10" transportType="BINDINGS_MQ" validateConnections="true" doc:name="WMQ"/>
    <wmq:connector name="WMQ1" hostName="localhost" port="6767" queueManager="D" channel="DTOE" username="db2admin" password="bandaru10" transportType="BINDINGS_MQ" validateConnections="true" doc:name="WMQ"/>
    <sftp:connector name="SFTP1" validateConnections="true" pollingFrequency="100000" autoDelete="false" doc:name="SFTP"/>
    <sftp:connector name="SFTP2" validateConnections="true" pollingFrequency="100000" autoDelete="false" doc:name="SFTP"/>
    <flow name="netline_inboundFlow">
        <sftp:inbound-endpoint connector-ref="SFTP" host="localhost" port="222" path="data/JetIntegration/INPUT" user="tester" password="password" responseTimeout="10000" doc:name="SFTP"/>
        <set-variable variableName="filename" value="#[message.inboundProperties.originalFilename]" doc:name="filename"/>
        <logger message="#[message.payloadAs(java.lang.String)]" level="INFO" doc:name="Logger"/>
        <set-variable variableName="data" value="#[payload]" doc:name="data"/>
        <choice doc:name="Choice">
            <when expression="#[flowVars.filename contains &quot;.msg&quot;==true]">
                <logger message="It is a valid file" level="INFO" doc:name="Logger"/>
            </when>
            <when expression="#[flowVars.filename contains &quot;.msg&quot; == false]">
                <set-variable variableName="dd" value="#[flowVars...data]" doc:name="Variable"/>
            </when>
        </choice>
        <expression-component doc:name="assignvalues"><![CDATA[flowVars.data1=flowVars.data.split("\n");
flowVars.output="";
for(int i=2;i<flowVars.data1.size();i++)
{
flowVars.output=flowVars.output+flowVars.data1[i] + "\n";
}]]></expression-component>
        <logger message="#[flowVars.output]" level="INFO" doc:name="Logger"/>
        <choice doc:name="Choice">
            <when expression="#[flowVars.output[0]==&quot;A&quot; &amp;&amp; flowVars.output[1]==&quot;S&quot; &amp;&amp; flowVars.output[2]==&quot;M&quot;]">
                <logger message="It is a ASM message" level="INFO" doc:name="Logger"/>
                <set-payload value="#[flowVars.output]" doc:name="Set Payload"/>
            </when>
            <when expression="#[flowVars.output contains &quot;COR&quot; || flowVars.output contains &quot;MVT&quot;]">
                <logger message="It is a MVT message" level="INFO" doc:name="Logger"/>
                <set-payload value="#[flowVars.output]" doc:name="Set Payload"/>
            </when>
            <when expression="#[flowVars.output contains &quot;ASM&quot;  or flowVars.output contains &quot;COR&quot; or flowVars.output contains &quot;MVT&quot; ==false]">
                <set-variable variableName="exception1" value="#[flowVars...data]" doc:name="Variable"/>
            </when>
        </choice>
        <scatter-gather doc:name="Scatter-Gather">
            <wmq:outbound-endpoint queue="A.RQ" connector-ref="WMQ" doc:name="WMQ">
                <wmq:transaction action="NONE"/>
            </wmq:outbound-endpoint>
            <wmq:outbound-endpoint queue="D.RQ" connector-ref="WMQ1" doc:name="WMQ">
                <wmq:transaction action="NONE"/>
            </wmq:outbound-endpoint>
            <sftp:outbound-endpoint exchange-pattern="one-way" connector-ref="SFTP1" outputPattern="#[header:inbound:originalFilename]" host="localhost" port="222" path="data/JetIntegration/OUTPUT" user="tester" password="password" responseTimeout="10000" doc:name="SFTP"/>
        </scatter-gather>
        <set-payload value="#[flowVars.data]" doc:name="Set Payload"/>
        <sftp:outbound-endpoint exchange-pattern="one-way" connector-ref="SFTP2" outputPattern="#[header:inbound:originalFilename]" host="localhost" port="222" path="data/JetIntegration/BACKUP" user="tester" password="password" responseTimeout="10000" doc:name="SFTP"/>
   <exception-strategy ref="exceptionstrategyCatch_Exception_Strategy" doc:name="Reference Exception Strategy"/>
    </flow>
</mule>
