MEL-INBOUND/mel_inbound.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp"
	xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp" xmlns:wmq="http://www.mulesoft.org/schema/mule/ee/wmq" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
http://www.mulesoft.org/schema/mule/ee/wmq http://www.mulesoft.org/schema/mule/ee/wmq/current/mule-wmq-ee.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <file:connector name="File"  autoDelete="false" streaming="true" validateConnections="true" doc:name="File" readFromDirectory="C:\Users\db2admin.bandaru-PC\Desktop\ravi\m"/>
    <file:connector name="File1" outputPattern="modified.json" writeToDirectory="C:\Users\db2admin.bandaru-PC\Desktop\ravi\r" autoDelete="false" streaming="true" validateConnections="true" doc:name="File"/>
    <sftp:connector name="SFTP" validateConnections="true" pollingFrequency="100000" autoDelete="false" doc:name="SFTP"/>
    <sftp:connector name="SFTP1" validateConnections="true" autoDelete="false" doc:name="SFTP"/>
    <wmq:connector name="WMQ" hostName="localhost" port="1415" queueManager="a" channel="ravi" username="db2admin" password="sarasu10" transportType="BINDINGS_MQ" validateConnections="true" doc:name="WMQ"/>
    <wmq:connector name="WMQ1" hostName="localhost" port="1417" queueManager="kumar" channel="pvgrk" username="db2admin" password="sarasu10" transportType="BINDINGS_MQ" validateConnections="true" doc:name="WMQ"/>
    <file:connector name="File2" writeToDirectory="C:\Users\db2admin.bandaru-PC\Desktop\ravi\JET-LIDO\JET\ERROR" autoDelete="false" streaming="true" validateConnections="true" doc:name="File"/>
    <smtp:gmail-connector name="Gmail" validateConnections="true" doc:name="Gmail"/>
    <flow name="mel_inboundFlow">
        <sftp:inbound-endpoint connector-ref="SFTP" host="localhost" port="24" path="/ravi/m" user="tester" password="password" responseTimeout="10000" doc:name="picking file from sftp sever"/>
        <dw:transform-message doc:name="getting the values from xml file in java">
            <dw:set-variable variableName="sample"><![CDATA[%dw 1.0

%output application/java
---
{
	'chapter':payload.transaction.messages.melItem.ataCode.@chapter,
	'subchapter':payload.transaction.messages.melItem.ataCode.@subchapter,
	'section':payload.transaction.messages.melItem.ataCode.@section,
	'item':payload.transaction.messages.melItem.ataCode.@item,
	'Deviation':payload.transaction.messages.melItem.messageAction[0],
	'senderObjectId':payload.transaction.messages.melItem.senderObjectId,
	'timestamp':payload.transaction.created,
	'ataDescription':payload.transaction.messages.melItem.ataDescription,
	'escriptionend':'#####',
	'Deviation':payload.transaction..messageAction[0][0],
	'type':payload.transaction.messages.melItem.type,
	'aircraft':payload.transaction.messages.melItem.aircraft
	
}]]></dw:set-variable>
        </dw:transform-message>
        <expression-component doc:name="validation"><![CDATA[flowVars.error="";
flowVars.a=flowVars.sample.timestamp;
flowVars.type=flowVars.sample.type;
flowVars.deviationCode=flowVars.sample.chapter+'-'+flowVars.sample.subchapter+'-'+flowVars.sample.section+'-'+flowVars.sample.item;
flowVars.ataDescription=flowVars.sample.ataDescription;
flowVars.senderObjectId=flowVars.sample.senderObjectId;
flowVars.AirlineDesignator=' 9W';
flowVars.aircraft=flowVars.sample.aircraft;
flowVars.messageAction=flowVars.sample.Deviation;
flowVars.escriptionend=flowVars.sample.escriptionend;]]></expression-component>
        <expression-component doc:name="date validation and modified timestamp"><![CDATA[import java.util.*;
 import java.text.*;
SimpleDateFormat sdff = new SimpleDateFormat("yyyy-MM-dd'T'HH:mm:ss'Z'");
sdff.setLenient(false);
Date date = sdff.parse(flowVars.a);
flowVars.date1=date;
flowVars.month=flowVars.date1.toString().substring(4,7);
flowVars.modifiedtimestamp=flowVars.a.substring(8,10)+flowVars.month+flowVars.a.substring(0,4)+flowVars.a.substring(11,13)+flowVars.a.substring(14,16)+flowVars.a.substring(17,19);
flowVars.AirlineDesignator='9W';]]></expression-component>

        <logger message="#[message.payloadAs(java.lang.String)]" level="INFO" doc:name="Logger"/>
        <choice doc:name="Choice">
            <when expression="flowVars.error=&quot;&quot;">
                <set-variable variableName="MessageFormat" value="#[flowVars.type]#[flowVars.modifiedtimestamp]#[flowVars.AirlineDesignator]#[flowVars.aircraft]    #[flowVars.deviationCode]   #[flowVars.messageAction]          #[flowVars.senderObjectId]          #[flowVars.ataDescription]#[flowVars.escriptionend]" doc:name="formatmessage"/>
            </when>
            <otherwise>
                <set-variable variableName="error" value="#[payload][ravi]" doc:name="error cause"/>
            </otherwise>
        </choice>
        <set-payload value="#[flowVars.MessageFormat]" doc:name="Set Payload"/>
        <scatter-gather doc:name="Scatter-Gather">
            <wmq:outbound-endpoint queue="remote" connector-ref="WMQ" doc:name="WMQ">
                <wmq:transaction action="NONE"/>
            </wmq:outbound-endpoint>
            <sftp:outbound-endpoint exchange-pattern="one-way" connector-ref="SFTP1" outputPattern="mel.txt" host="localhost" port="24" path="/ravi/r" user="tester" password="password" responseTimeout="10000" doc:name="SFTP"/>
            <wmq:outbound-endpoint queue="re" connector-ref="WMQ1" doc:name="WMQ">
                <wmq:transaction action="NONE"/>
            </wmq:outbound-endpoint>
        </scatter-gather>
        <choice-exception-strategy doc:name="Choice Exception Strategy">
            <catch-exception-strategy doc:name="Catch Exception Strategy">
                <set-payload value="#[flowVars.error] is wrong" doc:name="Set Payload"/>
                <file:outbound-endpoint path="/r" connector-ref="File2" responseTimeout="10000" doc:name="File"/>
                <set-attachment attachmentName="error" value="#[payload]" contentType="text/plain" doc:name="Attachment"/>
                <smtp:outbound-endpoint host="smtp.gmail.com" port="587" user="pvgravikumar.eidiko@gmail.com" password="9440069004" connector-ref="Gmail" to="prashanth9.eidiko@gmail.com" from="pvgravikumar.eidiko@gmail.com" subject="error raised" responseTimeout="10000" doc:name="SMTP"/>
            </catch-exception-strategy>
        </choice-exception-strategy>
    </flow>
</mule>
