briefingpackage_OUTBOUND/Briefing_Package_EFF.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp" xmlns:wmq="http://www.mulesoft.org/schema/mule/ee/wmq" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
http://www.mulesoft.org/schema/mule/ee/wmq http://www.mulesoft.org/schema/mule/ee/wmq/current/mule-wmq-ee.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <wmq:connector name="WMQ2" hostName="localhost" port="1415" queueManager="a" channel="ravi" username="db2admin" password="sarasu10" transportType="BINDINGS_MQ" validateConnections="true" doc:name="WMQ"/>
    <sftp:connector name="SFTP2" validateConnections="true" doc:name="SFTP"/>
    <file:connector name="File1" outputPattern="BRiefingOUTBOUND.txt" writeToDirectory="C:\Users\db2admin.bandaru-PC\Desktop\ravi\JET-LIDO\LIDO\BACKUP" autoDelete="true" streaming="true" validateConnections="true" doc:name="File"/>
    <file:connector name="File" writeToDirectory="C:\Users\db2admin.bandaru-PC\Desktop\ravi\JET-LIDO\LIDO\ERROR" autoDelete="true" streaming="true" validateConnections="true" doc:name="File"/>
    <smtp:gmail-connector name="Gmail" validateConnections="true" doc:name="Gmail"/>
    <flow name="Briefing_Package_EFF">
        <wmq:inbound-endpoint queue="re" connector-ref="WMQ2" doc:name="WMQ">
            <wmq:transaction action="NONE"/>
        </wmq:inbound-endpoint>
        <set-variable variableName="data" value="#[message.payloadAs(java.lang.String)]" doc:name="payload is stored in the form  of string"/>
        <set-payload value="#[flowVars.data]" doc:name="Set Payload"/>
        <scatter-gather doc:name="Scatter-Gather">
            <sftp:outbound-endpoint exchange-pattern="one-way" connector-ref="SFTP2" outputPattern="output.txt" host="localhost" port="24" path="/ravi/JET-LIDO/JET/FromLido Outbound" user="tester" password="password" responseTimeout="10000" doc:name="SFTP"/>
            <file:outbound-endpoint responseTimeout="10000" doc:name="File" connector-ref="File1" path="/r"/>
        </scatter-gather>
        <choice-exception-strategy doc:name="Choice Exception Strategy">
            <catch-exception-strategy when="#[exception.causedBy(java.net.ConnectException)]" doc:name="Catch Exception Strategy">
                <set-payload value="#['sftp server is down']" doc:name="Set Payload"/>
                <file:outbound-endpoint path="/r" connector-ref="File" responseTimeout="10000" doc:name="File"/>
                <set-attachment attachmentName="error" value="#[payload]" contentType="text/plain" doc:name="Attachment"/>
                <smtp:outbound-endpoint host="smtp.gmail.com" port="587" user="pvgravikumar.eidiko@gmail.com" password="9440069004" connector-ref="Gmail" to="prashnath9.eidiko@gmail.com" from="pvgravikumar.eidiko@gmail.com" subject="error" responseTimeout="10000" doc:name="SMTP"/>
            </catch-exception-strategy>
        </choice-exception-strategy>
    </flow>
</mule>
