Videos/JLCodes/Acars_Inbound/acars_inbound/acars_inbound/target/classes/acars_inbound.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:wmq="http://www.mulesoft.org/schema/mule/ee/wmq"
	xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp"
	xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/wmq http://www.mulesoft.org/schema/mule/ee/wmq/current/mule-wmq-ee.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">

    <sftp:connector name="SFTP" validateConnections="true" pollingFrequency="100000" archiveDir="C:\Users\db2admin.bandaru-PC\Music\jetlocalbackup\backup" autoDelete="false" doc:name="SFTP"/>
    <wmq:connector name="WMQ" hostName="localhost" port="7777" queueManager="A" channel="ATOB" username="db2admin" password="bandaru10" transportType="BINDINGS_MQ" validateConnections="true" doc:name="WMQ"/>
    <wmq:connector name="WMQ1" hostName="localhost" port="6767" queueManager="D" channel="DTOE" username="db2admin" password="bandaru10" transportType="BINDINGS_MQ" validateConnections="true" doc:name="WMQ"/>
    <sftp:connector name="SFTP1" validateConnections="true" pollingFrequency="100000" autoDelete="false" doc:name="SFTP"/>
    <smtp:gmail-connector name="Gmail" contentType="text/plain" validateConnections="true" doc:name="Gmail"/>
    <flow name="acars_inboundFlow">
        <sftp:inbound-endpoint connector-ref="SFTP" host="localhost" port="222" path="data/JetIntegration/INPUT" user="tester" password="password" responseTimeout="10000" doc:name="SFTP"/>
        <set-variable variableName="file" value="#[message.inboundProperties.originalFilename]" doc:name="filename"/>
        <logger message="#[message.payloadAs(java.lang.String)]" level="INFO" doc:name="Logger"/>
        <set-variable variableName="data" value="#[payload]" doc:name="data"/>
        <set-payload value="#[flowVars.data]" doc:name="Set Payload"/>
        <scatter-gather doc:name="Scatter-Gather">
            <wmq:outbound-endpoint queue="A.RQ" connector-ref="WMQ" doc:name="WMQ">
                <wmq:transaction action="NONE"/>
            </wmq:outbound-endpoint>
            <wmq:outbound-endpoint queue="D.RQ" connector-ref="WMQ1" doc:name="WMQ">
                <wmq:transaction action="NONE"/>
            </wmq:outbound-endpoint>
            <sftp:outbound-endpoint exchange-pattern="one-way" connector-ref="SFTP1" outputPattern="#[header:inbound:originalFilename]" host="localhost" port="222" path="data/JetIntegration/OUTPUT" user="tester" password="password" responseTimeout="10000" doc:name="SFTP"/>
        </scatter-gather>
        <set-payload value="#[flowVars.data]" doc:name="Set Payload"/>
        <sftp:outbound-endpoint exchange-pattern="one-way" connector-ref="SFTP1" outputPattern="#[header:inbound:originalFilename]" host="localhost" port="222" path="data/JetIntegration/BACKUP" user="tester" password="password" responseTimeout="10000" doc:name="SFTP"/>
    <catch-exception-strategy name="atc_holding_data_inboundCatch_Exception_Strategy" doc:name="acars_inboundCatch_Exception_Strategy">
            <set-payload value="#['Either SFTP SERVER or WMQ may be down please check for it']" doc:name="Set Payload"/>
            <set-attachment attachmentName="#[name]" value="#[payload]" contentType="text/plain" doc:name="Attachment"/>
            <smtp:outbound-endpoint host="smtp.gmail.com" port="587" user="naveenpullagura.eidiko@gmail.com" password="naveen457" connector-ref="Gmail" to="naveenpullagura.eidiko@gmail.com" from="naveenpullagura.eidiko@gmail.com" subject="ATC Holding Data Exception" cc="naveenpullagura.eidiko@gmail.com" responseTimeout="10000" doc:name="SMTP"/>
        </catch-exception-strategy>
   </flow>
</mule>
